
/* TD Mobil */
.mbl-no {
   width: 4%;
}
.mbl-nama {
   width: 17%;
}
.mbl-harga {
   width: 10%;
}
.mbl-status {
   width: 10%;
}
.mbl-warna {
   width: 10%;
}
.mbl-tahun {
   width: 6%;
}
.mbl-kapasitas {
   width: 9%;
}
.mbl-nopol {
   width: 10%;
}
.mbl-tindakan {
   width: 13%;
}
