
/* TD Member */
.mbr-no {
   width: 4%;
}
.mbr-nama {
   width: 17%;
}
.mbr-nik {
   width: 13%;
}
.mbr-nik {
   width: 16%;
}
.mbr-alamat {
   width: 11%;
}
.mbr-tlp {
   width: 11%;
}
.mbr-ttl {
   width: 13%;
}
.mbr-sim {
   width: 9%;
}
.mbr-tindakan {
   width: 15%;
}